@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/variable/pretendardvariable.css");

@media (prefers-color-scheme: dark) {
    body {
      background-color: #19191E;
    }

    textarea {
      background-color: #19191E;
      color: #F7F7F9;
    }
}

@media (prefers-color-scheme: light){
    body {
      background-color: #F7F7F9;
    }

    textarea {
        background-color: #F7F7F9;
        color: #19191E;
    }
}

body {
    margin: 0;
    height: 100vh;
}

textarea {
    width: calc(100% - 2rem);
    height: calc(100% - 2rem);
    margin: 0;
    border: 0;
    outline-color: #0000;
    padding: 1rem;
    font-size: 64px;
    resize: none;
}

.sans-serif {
    font-family: "Pretendard Variable", sans-serif;
}

.serif {
    font-family: "Times New Roman", "Georgia", "Noto Serif", serif;
}

.monospaced {
    font-family: "Fira Code", "D2Coding", monospace;
}
